<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的购物车</title>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/static/css/style.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        * {
            margin: 5px;
            padding: 5px;
        }

        .isChose {
            width:20px;
            height: 20px;
            background-color: yellow;
            border-radius: 50%;
        }
        .isChose>span{
            cursor: pointer;
        }
        #allChose {
            width:20px;
            height: 20px;
            background-color: yellow;
            border-radius: 50%;
        }
        #allChose>span{
            cursor: pointer;
        }
    </style>
</head>
<body>
<h3>我的购物车</h3>
<div id="address">
    <table id="detail">
        <tr>
            <td><b>姓名</b></td>
            <td><b>手机号</b></td>
            <td><b>详细地址</b></td>
        </tr>
        <tr>
            <td>{{ address.name }}</td>
            <td>{{ address.phone }}</td>
            <td>{{ address.address_detail }}</td>
        </tr>
    </table>
</div>
<table>
    {% for cart in carts %}
        {% if cart.cnt != 0 %}
            <tr>
                <td>
                    <div class="confirm">
            <span class="isChose">
                <span id="{{ cart.id }}">
                    {% if cart.isSelected %}
                        √
                    {% endif %}
                </span>
            </span>
                    </div>
                </td>
                <td><img src="/static/images/{{ cart.goods.img }}"></td>
                <td>{{ cart.goods.content }}</td>
                <td>{{ cart.goods.price }}</td>
                <td>
                    <button onclick="goodSub(this)" class="sub" data-key="{{ cart.id }}">-</button>
                </td>
                <td><b id="count">{{ cart.cnt }}</b></td>
                <td>
                    <button onclick="goodAdd(this)" class="add" data-key="{{ cart.id }}">+</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<div>
    <div class="confirm">
        <span id="allChose">
            <span></span>
        </span>
    </div>
</div>
<span>总价格 ：</span>
<p id="totalPrice">{{ totalPrice }} </p>
<hr>
<br/><br/>
</body>
</html>

<script>
    $(function () {
        // 是否选择购买的span添加点击事件
        $('.isChose').click(function () {
            // 获取当前Element的第一个子控件
            var spanChild = $(this).children().first();
            var id = spanChild.attr('id');
            if (spanChild.text().trim() == '') {
                spanChild.text('√'); // 选择
                console.log("选择", id);
            } else {
                spanChild.text(''); // 取消选择
                console.log("取消选择", id);
            }
            $.getJSON('/index/select/' + id + '/', function (data) {
                console.log(data);
                // 选择购物车总价格Element


                if (data.status == 200) {
                    var tp = $('#totalPrice').text().trim();
                    // console.log(tp);
                    if (data.selected) {
                        // 选择
                        $("#totalPrice").text((parseFloat(tp)) + (data.price));
                    } else {
                        // 取消选择
                        $("#totalPrice").text((parseFloat(tp)) - (data.price));
                    }
                }
            });
        })

        $('#allChose').click(function () {
            var span = $(this).children().first();
            if (span.text().trim() == "") {
                // 全部选择
                span.text('√');
                $('.isChose:first-child').text('√');
                id = 0;
            } else {
                span.text('');
                $('.isChose:first-child').text('');
                id = 9999;
            }

            // 更新后台
            $.getJSON('/index/select/' + id + '/', function (data) {
                // data = {allSelected:false,price:0}
                $('#totalPrice').text(data.price);
                console.log(data);
            });
        });
    });

    // 增加购物车商品数量
    function goodAdd(obj) {
        var id = $(obj).attr("data-key");
        console.log(id);
        $.getJSON("/index/addshopping/" + id + '/', function (resp) {
            var count = $(obj).parent().prev().children();
            count.text(resp.count);
            var tp = $("#totalPrice").text().trim();
            if (resp.count > 0) {
                $("#totalPrice").text(parseFloat(tp) + resp.price);
            }
            window.location.reload();
        });
    }

    // 减少购物车商品数量
    function goodSub(obj) {
        var id = $(obj).attr("data-key");
        $.getJSON("/index/subshopping/" + id + '/', function (resp) {
            var count = $(obj).parent().next().children();
            count.text(resp.count);
            console.log(resp.count);
            var tp = $("#totalPrice").text().trim();
            if (resp.count > 0) {
                $("#totalPrice").text(parseFloat(tp) - resp.price);
            }
            window.location.reload();
        })
    }
</script>